.button {
	min-width: 200px;
	padding: 24px 120px;
	white-space: nowrap;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	&:hover {
		opacity: 0.8;
	}
	&:active {
		opacity: 0.6;
	}
}