.nav {
	position: relative;
	top: 0;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 30px;
	background-color: $main-blue;
	border-radius: 5px;
}
.nav__logo {
	flex-shrink: 0;
	display: none;
}
.nav__list {
	@include list0;
	display: flex;
	flex-wrap: wrap;
	margin-left: 15px;
	margin-right: 15px;
}
.nav__item:not(:last-child) {
	margin-right: 35px;
}
.nav__link {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;

	&:hover {
		color: $main-yellow;
	}
	&:active {
		opacity: 0.6;
	}
}
.nav__socials-list {
	flex-shrink: 0;
	@include list0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.nav__socials-item:not(:last-child) {
	margin-right: 13px;
}
.nav__socials-link {
	&:hover {
		opacity: 0.8;
	}
	&:active {
		opacity: 0.6;
	}	
}
.nav__button {
	display: none;
	width: 25px;
	height: 18px;
	padding: 0;
	border: none;
	background-color: transparent;
	background-image: url("../img/hamburger.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	cursor: pointer;
}

//responsive 

@include breakpoint-down(1024px) {
	.header-top {
		display: none;
	}
	.header-bottom__conatiner {
		padding: 0;
	}
	.nav {
		position: fixed;
		left: 0;
		width: 100%;
		border-radius: 0;
	}
	.nav__logo {
		display: inline-block;
	}
}

@include breakpoint-down(375px) {
	.nav {
		padding: 23px 20px;
	}
	.nav__list {
		display: none;
		margin-left: 0;
		margin-right: 0;
	}
	.nav__socials-list {
		display: none;
	}
	.nav__button {
		display: block;
	}
	.nav__button.nav__button--close {
		background-position: right 3px center;
	}

	// responsive lists

	.nav__list.nav__list--toggle {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		background-color: $main-blue;
	}
	.nav__list.nav__list--toggle .nav__item {
		display: flex;
		margin-right: 0;
		border: 1px solid $main-yellow;
	}
	.nav__list.nav__list--toggle .nav__link {
		width: 100%;
		padding-top: 23px;
		padding-bottom: 23px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		color: $main-yellow;
		background-color: $main-blue;

		&:active {
			opacity: 1;
			color: $main-blue;
			background-color: $main-yellow;
		}
	}
	.nav__socials-list.nav__socials-list--toggle {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -468px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 63px;
		padding-bottom: 26px;
		background-color: $main-blue;
	}
	.nav__socials-list.nav__socials-list--toggle .nav__socials-item {
		margin-right: 6px;
		margin-left: 6px;
	}

	// nojs
	.nav.nojs {
		position: static;
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
	}

	.nav.nojs .nav__list {
		position: static;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		width: 100%;
		margin-top: 24px;
	}
	.nav.nojs .nav__list .nav__item {
		margin-right: 0;
		text-align: center;
	}
	.nav.nojs .nav__list .nav__link {
		display: block;
		border: 1px solid $main-yellow;
		padding-top: 23px;
		padding-bottom: 23px;
	}
	.nav.nojs .nav__socials-list {
		margin-top: 24px;
		display: flex;
	}
	.nav.nojs .nav__button {
		display: none;
	}
}

// retina
@include retina() {
	.nav__button {
		background-image: url("../img/hamburger@2x.png");
	}
}