.reviews__text {
	max-width: 485px;
}
.reviews__list {
	justify-content: space-between;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 50px;
}
.reviews__bottom {
	flex-direction: column;
}
.reviews__list li {
	width: 354px;
	margin-right: 0;
}
.user h3 {
	margin-top: 31px;
	margin-bottom: 13px;
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
}
.reviews__link {
	padding: 24px 75px;
	border: 2px solid $main-blue;
	box-sizing: border-box;
	border-radius: 5px;
	text-transform: none;
	color: $main-black;

	&:hover {
		background-color: $main-blue;
		color: #ffffff;
	}
	&:active {
		opacity: 0.6;
	}
}

//responsive
@include breakpoint-down(1024px) {
	.reviews__list li {
		width: 305px;
		margin-right: 35px;
	}
}
@include breakpoint-down(375px) {
	.reviews {
		margin-top: 10px;
	}
	.reviews__list {
		justify-content: center;
	}
	.reviews__list li:not(:first-child) {
		display: none;
	}
	.reviews__list li {
		margin-right: 0;
	}
}
